@import '../variables';

.document-header {
  display: flex;
  justify-content: space-between;
}

.document-toolbar {
  display: flex;
  justify-content: space-between;
  width: 136px;
}

.document-tabs {
  display: flex;
}

.document-tab {
  font-size: 35px;
  font-weight: bold;
  width: max-content;
  margin-right: 30px;
  @include themify($themes) {
    color: themed('colorDisabled');
  }
}

.tab-active {
  @include themify($themes) {
    color: themed('colorPrimary');
    border-bottom: 4px solid themed('colorPrimary');
  }
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 27px;
  color: $subtitle-color;
}

.sort-section {
  display: flex;
}

.subtitle-key {
  margin-left: 11px;
  margin-right: 8.5px;
  cursor: pointer;
  @include themify($themes) {
    color: themed('colorDisabled');
  }
}

.doc-table {
  margin-top: 25px;
  width: 100%;
}

// network

.network-row {
  margin-right: 0;
  min-height: 480px;
  .network-container {
    //outline: 5px solid #919191;
  }
  .no-network {
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-grow: 1;
  }
}

// end network
