@import '../variables';

@media only screen and (min-width: 600px)  {
  .logo {
    width: 95px;
    height: 95px;
    object-fit: contain;
  }

  .account-profile-image {
    width: 90px;
    height: 90px;
    object-fit: contain;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 600px)  {
  .account-profile-image {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 50%;
  }

  .logo {
    display: none;
  }
}

#main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @media (max-width: 575.98px) {
    margin-bottom: 25px;
    #main-top-bar {
      display: none;
    }
    #main-top-bar-sm {
      display: flex;
      align-items: center;
      //outline: 1px solid red;
      height: 70px;
      margin: 21.3px 19.5px;
      justify-content: space-between;
    }
  }

  @media (min-width: 576px) {
    margin: 10px 107px 0 0;
    #main-top-bar-sm {
      display: none;
    }
    #main-top-bar {
      display: table;
      width: 100%;
      padding-left: 10px;

      #main-logo {
        cursor: pointer;
        display: table-cell;
        width: 95px;
        padding: 20px 10px 20px 10px;
      }

      #main-search {
        margin-left: 80px;
        margin-right: 127px;
        position: relative;
        top: 4px;
      }

      @media only screen and (max-width: 470px) {
        #main-search {
          display: none;
        }
      }

      #main-profile {
        display: table-cell;
        width: 90px;
        cursor: pointer;
        text-align: right;
      }
    }
  }


  #main-search-sm {
    display: none;
  }

  @media only screen and (max-width: 470px) {
    #main-search-sm {
      display: block;
      margin: 20px;
    }
  }

  .main-page {
    display: flex;
    flex-grow: 1;
    // ios bug
    // https://stackoverflow.com/a/43683067
    flex-shrink: 0;

    @media only screen and (min-width: 600px) {
      .main-side {
        margin-top: 44.6px;
        border-top-right-radius: 74px;
        display: flex;
        min-width: 134px;
        //height: 100%;
        @include themify($themes) {
          background: themed('colorPrimary');
        }
      }
    }

    .main-section {
      display: flex;
      width: 100%;
      @media (min-width: 576px) {
        margin-left: 15px;
        margin-bottom: 92px;
        .main-content {
          padding: 14px 0 24px 66px;
        }
      }

      .main-content {
        width: 100%;
      }
    }
  }
}

.search {
  flex-grow: 1;
}

.account-circle {
  width: 89px;
  height: 89px;
  object-fit: contain;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 42px;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 89px;
  //position:relative;
  //left:-20px;
  //bottom: 26px;
  @include themify($themes) {
    background-color: themed('colorPrimary');
  }
}

.document-type-container {
  margin: 0 15px 15px 15px;
}

.document-type-selected {
  margin-top: 24px;
}

.modal-footer-center {
  justify-content: center !important;
}

.button-wide {
  width: 150px;
}

.document-add-new {
  @media (max-width: 575.98px) {
    display: none;
  }
  text-align: center;
  padding: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
  &:hover {
    background: $hover-color;
    cursor: pointer;
  }
}

// carrier
.other-owner-list {
  margin-top: 18px;
}
.other-owner-listitem {
  cursor: pointer;
  &:hover {
    background: #eee;
  }
}

