@import "~bootstrap/scss/bootstrap";
@import "../variables";

.my-settings-modal {
  @include media-breakpoint-down(xs) {
    margin: 0 !important;
  }
  .modal-content {
    @include media-breakpoint-down(xs) {
      height: 100vh;
      border-radius: 0 !important;
    }
    .modal-header {
      display: flex;
      align-items: center;
      @include media-breakpoint-down(xs) {
        border-radius: 0 !important;
      }
      .modal-title {
        display: flex;
        align-items: center;
        img {
          width: 63.7px;
          height: 63.7px;
          margin-left: 6px;
          margin-right: 28.3px;
          border-radius: 50%;
        }
        .my-settings-title {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          @include media-breakpoint-up(md) {
            width: 257px;
          }
          @include media-breakpoint-up(lg) {
            width: 558px;
          }
          @include media-breakpoint-up(xl) {
            width: 897px;
          }
        }
      }
      .modal-close {
        @include themify($themes) {
          background: themed("colorPrimary");
        }
        &:hover {
          background: white;
          svg g {
            @include themify($themes) {
              stroke: themed("colorPrimary");
            }
          }
        }
        .sm {
          display: inline;
          @include media-breakpoint-up(md) {
            display: none;
          }
        }
        .lg {
          display: none;
          @include media-breakpoint-up(md) {
            display: inline;
          }
        }
      }
    }
    .modal-body {
      @include media-breakpoint-up(xl) {
        margin: -15px 0 0 0;
      }
      .account-settings-title {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 9px;
        @include themify($themes) {
          color: themed("colorPrimary");
        }
        @include media-breakpoint-up(xl) {
          margin-top: 9px;
        }
      }
      .account-settings-option {
        font-size: 30px;
        opacity: 0.8;
        margin: 0 -16px;
        padding: 11px 20px;
        color: #484848;
        cursor: pointer;
        &.active {
          color: #646565;
          background-color: darken(#ececec, 10%);
        }
      }
      .account-settings-content {
        background-color: #ececec;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 -16px;
        padding: 24px 42px;
        @include media-breakpoint-up(xl) {
          margin-bottom: -16px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 16px;
          margin-top: -2px;
          border-bottom-left-radius: 0;
        }
        &.delete {
          background-color: #8e3c3c;
          color: white;
          @include media-breakpoint-up(sm) {
            margin-bottom: -49px;
            border-bottom-left-radius: 32px;
            border-bottom-right-radius: 32px;
          }
          @include media-breakpoint-up(md) {
            margin-bottom: -16px;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
          }
          @include media-breakpoint-up(xl) {
            border-bottom-left-radius: 0;
          }
          .account-content-title {
            font-size: 32px;
            font-weight: bold;
            color: white !important;
            @include media-breakpoint-up(xl) {
              font-size: 63px;
            }
          }
          .account-content-excerpt {
            margin-top: 0;
            color: white;
            @include media-breakpoint-up(xl) {
              font-size: 34px;
            }
          }
          .doc-shared-container {
            margin: 28px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              #_3-2 {
                fill: #8e3c3c;
              }
              #_3 {
                text {
                  fill: #8e3c3c;
                }
              }
              text {
                fill: white;
              }
              path {
                fill: white;
              }
            }
            .contact-share-container {
              width: 74px;
            }
            .contact-share {
              margin-left: 26px;
              font-size: 25px;
              font-weight: bold;
              line-height: 1.08;
            }
            .doc-share {
              margin-left: 18px;
              font-size: 19px;
              font-weight: bold;
              @include media-breakpoint-up(lg) {
                font-size: 25px;
              }
            }
          }
          .export-btn-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 28px 0;
            min-width: 294px;
            width: 100%;
            @include media-breakpoint-down(md) {
              margin: 0 0 28px 0;
            }
          }
          .export-btn {
            background-color: white;
            color: $mid-blue;
            height: 102px;
            width: 294px;
            display: flex;
            align-items: center;
            padding: 4px 21px;
            // margin-bottom: 28px;
            .export-container {
              svg {
                height: 53.6px;
                width: 64px;
              }
            }
            .export-text {
              text-align: left;
              margin-left: 12px;
              line-height: 1.23;
            }
          }
          .share-with-container {
            background-color: white;
            border-radius: 24px;
            width: 87px;
            height: 48px;
            display: flex;
            justify-content: center;
            padding-left: 5px;
            margin: 28px 0;
            @include media-breakpoint-up(sm) {
              border-radius: 32px;
              width: 126px;
              height: 65px;
            }
          }
          .confirm-btn {
            background: white;
            width: 298px;
            margin: 28px 0;
            &:hover {
              &:enabled {
                background: #ca606a;
              }
            }
          }
          .confirm-delete {
            width: 292px;
            margin-top: 28px;
            background-color: #d95868;
            color: white;
            padding: 8px 9px;
            border-radius: 15px;
            .instruction {
              font-size: 22px;
              margin-bottom: 5px;
            }
            .confirm-excerpt {
              margin-top: 5px;
              font-size: 13px;
              text-align: center;
              line-height: 1.23;
              padding: 0 40px;
            }
          }
          .delete-btn-col {
            margin-top: 28px;
            align-items: center;
            display: flex;
            justify-content: center;
            @include media-breakpoint-down(md) {
              margin-top: 0;
            }
            .delete-account-btn {
              margin: 28px 0;
              width: 298px;
            }
          }
        }
        &.bottom {
          background-color: #f5f5f5;
          @include media-breakpoint-up(xl) {
            background-color: #ececec;
          }
          svg:first-of-type {
            width: 95.154px;
            height: 79.73px;
          }
          .account-content-title {
            font-size: 28px;
            margin-left: -36px;
            @include media-breakpoint-up(xl) {
              font-size: 63px;
              font-weight: bold;
            }
          }
          .account-content-excerpt {
            margin-bottom: 37px;
          }
          button {
            margin-top: 48px;
            height: auto;
            width: min-content;
            @include media-breakpoint-up(sm) {
              width: max-content;
            }
          }
        }
        .account-content-title {
          font-size: 32px;
          font-weight: bold;
          margin-bottom: 26px;
          @include themify($themes) {
            color: themed("colorPrimary");
          }
          @include media-breakpoint-up(xl) {
            font-size: 63px;
            font-weight: bold;
          }
        }
        .account-content-excerpt {
          margin-top: 37px;
          font-size: 22px;
          color: #484848;
          text-align: center;
          line-height: 1.23;
        }
      }
      .account-privacy-content {
        background-color: #ececec;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 -16px;
        padding: 24px 22px;
        @include media-breakpoint-up(xl) {
          margin-bottom: -16px;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          margin-top: -2px;
          border-bottom-left-radius: 0;
        }
        .account-content-title {
          font-size: 32px;
          font-weight: bold;
          margin-bottom: 26px;
          @include themify($themes) {
            color: themed("colorPrimary");
          }
          @include media-breakpoint-up(xl) {
            font-size: 63px;
            font-weight: bold;
          }
        }
        .account-privacy-excerpt {
          font-size: 25px;
          font-weight: 500;
          background-color: $pale-grey;
          border-radius: 34px;
          padding: 15px 25px;
          margin: -6px -2px 0 -2px;
          text-align: center;
          @include themify($themes) {
            color: themed("colorPrimary");
          }
        }
        .settings-preview {
          width: 100%;
          margin: 0 -20px;
          border: solid 1px $warm-grey;
          border-radius: 15px;
          background-color: white;
          margin: 20px 0 20px 0;
          // padding: 15px;
          .preview-title {
            background-color: #484848;
            color: white;
            font-size: 24px;
            font-weight: 500;
            border-top-left-radius: 14px;
            border-top-right-radius: 14px;
            padding-left: 17px;
          }
          .preview-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 12px 44px 18px 44px;
            .preview-image {
              border-radius: 50%;
              width: 162px;
              height: 162px;
              background-color: #9a9a9a;
            }
            .fullname {
              margin-top: 12px;
              font-size: 25px;
              font-weight: bold;
              color: $greyish-brown;
              @include truncate(250px);
            }
            .preview-item {
              width: 100%;
              display: flex;
              justify-content: space-between;
              font-size: 13px;
              .preview-attr {
                font-weight: 500;
                color: $dark-blue-grey;
              }
              .preview-val {
                color: $greyish-brown-78;
                @include truncate(174px);
              }
            }
            .shared {
              margin-top: 14px;
              display: flex;
              flex-direction: column;
              align-items: center;
              .shared-title {
                text-transform: uppercase;
                font-size: 13px;
                font-weight: bold;
                color: $silver;
              }
              svg {
                path {
                  @include themify($themes) {
                    fill: themed("colorPrimary");
                  }
                }
              }
            }
          }
        }
        .profile-info-form {
          .form-title {
            text-align: center;
            font-size: 25px;
            font-weight: 500;
            color: #747474;
            margin-bottom: 20px;
          }
          .form-group {
            label {
              font-size: 20px;
              opacity: 0.71;
              font-weight: 500;
              color: #747474;
            }
          }
          .submit-section {
            display: flex;
            justify-content: center;
            margin: 23px 0 0 0;
          }
        }
        .display-options {
          margin-top: 37px;
          .option-title {
            font-size: 30px;
            font-weight: 600;
            color: #484848;
            margin-bottom: 24px;
          }
          .form-group {
            display: flex;
            align-items: center;
            justify-content: center;
            label {
              font-size: 34px;
              color: #484848;
              margin: 0;
              &:first-child {
                margin-right: 18.5px;
              }
            }
          }
        }
      }
      .delete-bottom {
        margin: 0 -15px;
        background-color: white;
        display: flex;
        justify-content: center;
        padding: 28px;
        @include media-breakpoint-up(sm) {
          margin-bottom: -49px;
          border-bottom-left-radius: 32px;
          border-bottom-right-radius: 32px;
        }
        @include media-breakpoint-up(md) {
          margin-bottom: -16px;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
        }
        @include media-breakpoint-up(xl) {
          display: none;
        }
        .btn {
          width: 300px;
        }
      }
      .delete-bottom-lg {
        position: absolute;
        bottom: 10px;
        left: 55px;
        display: none;
        @include media-breakpoint-up(xl) {
          display: block;
        }
      }
    }
  }
}
