#helper-register {
  .section {
    .section-contents {
      .card {
        min-height: 454px;
        .card-body {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .card-body-section {
            .helper-login {
              text-align: center;
            }
          }
          .comment {
            margin-top: 10px;
            padding: 0 10px;
            font-size: 13px;
            font-weight: 600;
            color: #cecece;
            line-height: 1.2em;
            text-align: center;
          }
          .login-options {
            svg {
              cursor: pointer;
              margin-top: 10px;
            }
          }
        }
      }
      .setup-nav {
        display: flex;
        justify-content: space-between;
        div {
          cursor: pointer;
        }
      }
    }
  }
}
