.update-doc-modal-title {
  margin-left: 18px;
}

.update-doc-tab-spacing {
  margin: 30px;
}

.upload-doc-delete-container {
  position: absolute;
  right: 24px;
}

.update-doc-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}
