.account-share-modal {
  .account-share-container {
    .account-share {
      display: flex;
      padding: 11px;
      .left-pane {
        width: 410px;
        background-color: #f8f8f8;
        //background-color: salmon;
        //width: 293px;
        height: 795px;
        border-radius: 20px;
        margin-right: 48px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        .contact-detail-image {
          height: 255px;
          width: 100%;
          object-fit: cover;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
        }
        .contact-detail-info {
          background-color: white;
          padding: 8.5px 18px 12.5px 18px;
          .info-item {
            display: flex;
            justify-content: space-between;
            margin: 6.5px 0;
            font-size: 13px;
            .item-attr {
              font-weight: 500;
              color: #0e232c;
            }
            .item-value {
              color: rgba(70, 70, 70, 0.78);
            }
          }
        }
        .contact-detail-share-doc {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 196px;
          align-items: center;
          .prompt {
            font-size: 20px;
            font-weight: 500;
            color: #0e232c;
          }
          .share-status {
            text-align: center;
            color: #0e232c;
            opacity: 0.5;
            font-size: 15px;
            font-weight: 500;
            margin: 0 7px;
          }
        }
      }
      .right-pane {
        .share-title {
          font-size: 40px;
          font-weight: 500;
          color: #484848;
        }
      }
    }
  }
}
