.account-share-modal {
  .account-share-container {
    .account-share {
      display: flex;
      padding: 11px;
      .left-pane {
        width: 410px;
        background-color: #f8f8f8;
        //background-color: salmon;
        //width: 293px;
        height: 795px;
        border-radius: 20px;
        margin-right: 48px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        .contact-detail-image {
          height: 255px;
          width: 100%;
          object-fit: cover;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
        }
        .delete-contact-container {
          position: relative;
          bottom: 27px;
          left: 10px;
          height: 0;
        }
        .contact-detail-info {
          background-color: white;
          padding: 44px 18px 12.5px 18px;
          .info-item {
            display: flex;
            justify-content: space-between;
            margin: 6.5px 0;
            font-size: 20px;
            .item-attr {
              font-weight: 500;
              color: #0e232c;
            }
            .item-value {
              color: rgba(70, 70, 70, 0.78);
            }
          }
        }
        .permissions {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #0e232c;
          .permissions-title {
            width: 100%;
            font-size: 25px;
            font-weight: bold;
            padding: 8px 35.5px 0 35.5px;
          }
          .permissions-prompt {
            font-size: 20px;
            opacity: 0.5;
            font-weight: 500;
            padding: 0 35.5px 8px 35.5px;
          }
          .permission {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            padding: 11px 45px 11px 33.2px;
            .permission-item {
              display: flex;
              align-items: center;
              font-size: 20px;
              font-weight: 500;
              .permission-icon {
                width: 38.7px;
                display: flex;
                justify-content: center;
                margin-right: 18.6px;
              }
            }
          }
        }
      }
      .right-pane {
        width: 626px;
        .share-title {
          font-size: 40px;
          font-weight: 500;
          color: #484848;
        }
        .document-grid {
          display: flex;
          flex-wrap: wrap;

          .document-item {
            margin: 30px 36px 30px 0;
            width: 270px;
            height: 287px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .doc-info {
              display: flex;
              flex-direction: column;
              align-items: center;
              img {
                object-fit: contain;
                width: 270px;
              }
              .doc-type {
                margin-top: 8px;
                font-size: 15px;
                font-weight: bold;
                color: #645857;
              }
            }
            .doc-share {
              display: flex;
              flex-direction: column;
              align-items: center;
              .share-subtitle {
                text-transform: uppercase;
                color: #d2d5d8;
                font-size: 20px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}
