@import '~bootstrap/scss/bootstrap';
@import "../../variables.scss";

.helper-accounts-container {
  .modal-close {
    @include media-breakpoint-down(sm) {
      width: 30px;
      height: 30px;
      padding: 2px 8px;
    }
    svg {
      @include media-breakpoint-down(sm) {
        width: 15px !important;
        height: 14.52px !important;
      }
    }
  }
  border-radius: 17px;
  display: flex;
  min-height: 611px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @include media-breakpoint-up(md) {
    min-height: 733px;
  }
  .helper-name-lg {
    font-size: 25px;
    font-weight: bold;
    color: $greyish-brown;
  }
  .permission-container {
    .helper-permission-title {
      font-size: 25px;
      font-weight: bold;
      color: $dark-blue-grey;
      text-align: left;
      @include media-breakpoint-up(md) {
        font-size: 32px;
      }
    }
    .helper-permission-subtitle {
      margin-bottom: 10px;
      margin-top: -5px;
      font-size: 15px;
      font-weight: 500;
      color: $dark-blue-grey;
      opacity: 0.5;
      text-align: left;
      @include media-breakpoint-up(md) {
        font-size: 21px;
      }
    }
    .helper-permission {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      margin-bottom: 17px;
      .permission-title {
        color: #484848;
        font-size: 20px;
        font-weight: 500;
        width: 142px;
        text-align: center;
        line-height: 1.2;
        @include media-breakpoint-up(md) {
          font-size: 25px;
        }
      }
      .toggle {
        @include media-breakpoint-up(md) {
          display: none;
        }
        display: block;
      }
      .toggle-lg {
        @include media-breakpoint-up(md) {
          display: block;
        }
        display: none;
      }
    }
  }
  .helper-title {
    line-height: 1.2;
    font-size: 20px;
    text-align: center;
    color: #484848;
    opacity: 0.75;
    @include media-breakpoint-up(md) {
      font-size: 30px;
    }
  }
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .profile-img {
      height: 130px;
      width: 130px;
      border-radius: 50%;
      background-color: #999;
      @include media-breakpoint-up(md) {
        height: 175px;
        width: 175px
      }
    }
  }
  input[type="button"] {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #1473e6;
    &:disabled {
      background-color: #818181;
    }
    @include media-breakpoint-up(md) {
      font-size: 25px;
    }
  }
  .take-back {
    cursor: pointer;
    color: #9a9a9a;
    font-size: 18px;
  }
  padding: 0 !important;
  background-color: #f6f6f6;
  .search-helper-container {
    height: 99px;
    @include media-breakpoint-up(sm) {
      height: 131px;
      margin-top: 28px;
      width: 100%;
      padding: 0 24px;
    }
    @include media-breakpoint-up(lg) {
      padding: 0 74.5px;
    }
    .search-input {
      .search-container-sm {
        margin: 21px 26px;
      }
    }
    .sort-container-lg {
      @include media-breakpoint-down(sm) {
        display: none;
      }
      display: flex;
    }
    .sort-container {
      @include media-breakpoint-down(sm) {
        display: flex;
      }
      display: none;
      align-items: center;
      margin-left: 26px;
      font-size: 17px;
      font-weight: bold;
      text-transform: uppercase;
      color: #90afe2;
      cursor: pointer;
      span {
        margin-left: 5.7px;
      }
    }
  }
  .contacts-grid {
    @include media-breakpoint-up(xs) {
      margin: 0 8px;
      width: calc(100% - 16px);
    }
    @include media-breakpoint-up(sm) {
      margin: 0 24px;
      width: calc(100% - 48px);
    }
    @include media-breakpoint-up(lg) {
      margin: 0 74.5px;
      width: calc(100% - 149px);
    }
  }
  .helper-account {
    background-color: white;
    border-radius: 5px;
    border: solid 1px $silver;
    height: 379px;
    // width: 100%;
    // margin: 0 15px;
    // margin-bottom: 5px;
    margin-bottom: 44px;
    // margin-left: 12.5px;
    // margin-right: 12.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @include media-breakpoint-up(md) {
      height: 448px;
    }
    .profile-img {
      border-radius: 50%;
      height: 130px;
      width: 130px;
      @include media-breakpoint-up(md) {
        height: 175px;
        width: 175px
      }
      background-color: #999;
    }
    .helper-name {
      font-size: 17px;
      font-weight: bold;
      color: $greyish-brown;
      @include media-breakpoint-up(md) {
        font-size: 25px;
      }
    }
    .helper-details {
      .helper-attr {
        display: flex;
        justify-content: space-between;
        .helper-key {
          font-size: 15px;
          font-weight: 500;
          color: $dark-blue-grey;
          @include media-breakpoint-up(md) {
            font-size: 18px;
          }
        }
        .helper-val {
          font-size: 15px;
          color: $greyish-brown-78;
          text-align: right;
          width: 150px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          @include media-breakpoint-up(md) {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.add-contact-confirm-modal {
  .modal-content {
    border-radius: 15px !important;
    .modal-body {
      border-radius: 15px;
      margin-bottom: 0 !important;
      padding: 14px 0 !important;
      .button-lg {
        font-size: 22px;
        padding: 13px 35px;
      }
    }
  }
}
