.admin-content {
  // margin-left: 107px;
  width: 100%;
  margin-left: 67px;
  background-color: #1d1d1d;
  padding: 40px;
  border-radius: 8px;
  .alert {
    margin-top: 18px;
  }
  > h1 {
    margin-bottom: 18px;
  }
  > h2:nth-child(2) {
    margin-bottom: 0;
  }
  h3 {
    margin-top: 18px;
  }
  .add-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 8px 8px 0;
    svg.add {
      width: 36px;
      height: 36px;
      fill: #bb86fc;
      cursor: pointer;
    }
  }

  h2.view-feature-title {
    margin-top: 24px;
  }

  .save-container {
    display: flex;
    justify-content: flex-end;
    // width: 400px;
    padding: 0 8px 8px 0;
    svg {
      width: 36px;
      height: 36px;
      fill: #bb86fc;
      cursor: pointer;
    }
  }

  h2.account {
    margin-top: 24px;
  }
}
