@import "../variables.scss";
.grid {
  justify-content: center;
  display: flex;
  .check-box {
    svg {
      width: 20px;
      height: 20px;
      .checkbox-checked_svg__fill-background {
        fill: #03dac6;
      }
      .checkbox-checked_svg__border {
        fill: #03dac6;
      }
      .checkbox-checked_svg__tick-color {
        fill: black;
      }
    }
  }
}

.grid-left {
  justify-content: flex-start;
}

.check-box {
  cursor: pointer;
  svg {
    width: 32px;
    height: 32px;
    @include themify($themes) {
      .checkbox-checked_svg__fill-background {
        fill: themed("colorPrimary");
      }
      .checkbox-checked_svg__border {
        fill: themed("colorPrimary");
      }
    }
  }
}
