@import "~bootstrap/scss/bootstrap";
@import "../variables.scss";

.dropzone-container {
  display: flex;
  justify-content: center;
  margin-top: 41px;
  @include media-breakpoint-down(sm) {
    margin: 0;
    .dropzone-form {
      display: flex;
      flex: 1;
      .upload-sm {
        background-color: white;
        border: dashed 2px $warm-grey;
        // width: 100%;
        display: flex;
        flex: 1;
        height: 328px;
        align-items: center;
        justify-content: center;
      }
      .upload {
        display: none;
      }
    }
    .file-preview {
      flex-direction: column;
    }
    .file-info {
      flex-direction: column;
      margin: 13.9px 0 13.9px 0;
      .file-info-item {
        .file-info-title {
          font-size: 16px;
          font-weight: normal;
          color: #9a9a9a;
        }
      }
      .file-reupload {
        margin-top: 10px;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .dropzone-form {
      display: flex;
      flex: 1;
      .upload-sm {
        display: none;
      }
      .upload {
        background-color: white;
        border: dashed 2px $warm-grey;
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 400px;
        align-items: center;
        justify-content: center;
        position: relative;
        .caption {
          position: absolute;
          top: 22px;
          left: 30px;
          font-size: 25px;
          color: #484848;
          opacity: 0.6;
        }
      }
    }

    .file-preview {
      flex-direction: row;
      .file-info {
        margin: 13.9px 0 13.9px 15px;
        // margin: 13.9px 0 13.9px 40px;
        .file-info-item {
          .file-info-title {
            font-weight: 500;
            color: #747474;
          }
        }
        .file-reupload {
          margin: 0 0 10px 0 !important;
          // margin: 0 0 0 10px;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .dropzone-form {
      display: flex;
      flex: 1;
      .upload-sm {
        display: none;
      }
      .upload {
        background-color: white;
        border: dashed 2px $warm-grey;
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 400px;
        align-items: center;
        justify-content: center;
        position: relative;
        .caption {
          position: absolute;
          top: 22px;
          left: 30px;
          font-size: 25px;
          color: #484848;
          opacity: 0.6;
        }
      }
    }

    .file-preview {
      flex-direction: row;
      .file-info {
        margin: 13.9px 0 13.9px 40px;
        .file-info-item {
          .file-info-title {
            font-weight: 500;
            color: #747474;
          }
        }
        .file-reupload {
          margin: 0 0 0 10px;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .dropzone-form {
      display: flex;
      flex: 1;
      .upload-sm {
        display: none;
      }
      .upload {
        background-color: white;
        border: dashed 2px $warm-grey;
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 400px;
        align-items: center;
        justify-content: center;
        position: relative;
        .caption {
          position: absolute;
          top: 22px;
          left: 30px;
          font-size: 25px;
          color: #484848;
          opacity: 0.6;
        }
      }
    }

    .file-preview {
      flex-direction: row;
      .file-info {
        margin: 13.9px 13.9px 13.9px 83px;
        .file-info-item {
          .file-info-title {
            font-weight: 500;
            color: #747474;
          }
        }
      }
    }
  }

  .file-preview {
    display: flex;
    flex: 1;
    .file-image {
      .document-summary-image {
        max-width: 100%;
        min-width: 250px;
        height: 287px;
        object-fit: contain;
      }
    }
    .file-info {
      flex-grow: 1;
      display: flex;
      font-size: 20px;
      color: #484848;
      @include media-breakpoint-down(lg) {
        flex-direction: column-reverse;
      }
      @include media-breakpoint-up(lg) {
        flex-direction: row;
      }
      .file-info-items {
        flex-grow: 1;
        .file-info-item:not(:first-child) {
          margin-top: 26.9px;
        }
      }
      .file-reupload {
        flex-grow: 1;
        align-items: center;
        display: flex;
        flex-direction: column;
        color: #484848;
        font-size: 13px;
        opacity: 0.6;
      }
    }
  }
}
