@import '~bootstrap/scss/bootstrap';

.image-with-status {
  .loading-outter {
    position: absolute;
    &.outter-doc {
      @include media-breakpoint-down(sm) { top: 30%; }
      @include media-breakpoint-up(sm) { top: 34%; }
      left: 50%;
    }
    &.outter-circle {
      top: 23%;
      left: 50%;
    }
    &.outter-list {
      left: 15%;
    }
    .loading-inner {
      position: relative;
      left: -50%;
      z-index: 2;
    }
  }

  img {
    object-fit: contain;
    &.loading {
      @include media-breakpoint-down(sm) { height: 250px; width: 250px; }
      opacity: 0.5;
      background-color: #ccc;
    }
    &.image-doc {
      @media (max-width: 575.98px) {
        width: calc(100%);
        //height: 258px;
      }
      @media (min-width: 576px) {
        max-width: 100%;
        min-width: 250px;
        height: 287px;
      }
    }
    &.img-circle {
      border-radius: 50%;
      width: 234px;
      height: 234px;
    }
    &.list-img {
      width: 98px;
    }
  }

}


