@import '../variables';

.switch {
  position: relative;
  display: inline-block;
  width: 92px;
  height: 27px;
  margin-bottom: 0;
  cursor: pointer;

  &.lg {
    width: 134px;
    height: 39px;
    input {
      &:checked + .slider:before {
        -webkit-transform: translateX(67px);
        -ms-transform: translateX(67px);
        transform: translateX(67px);
      }
    }
    .slider {
      &:before {
        height: 39px;
        width: 67px;
      }
    }
    .yes {
      top: 4px;
      left: 20px;
      font-size: 21px;
    }
    .no {
      top: 4px;
      right: 20px;
      font-size: 21px;
    }
  }


  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider:before {
      -webkit-transform: translateX(46px);
      -ms-transform: translateX(46px);
      transform: translateX(46px);
    }

    &:focus + .slider {
      box-shadow: 0 0 2px #ccc;
    }

    &:checked ~ span {
      &.yes {
        color: white;
      }

      &.no {
        color: #afafaf;
      }
    }
  }

  .slider {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include themify($themes) {
      background: linear-gradient(90deg, themed('colorPrimary') 50%, #d95868 50%);
    }
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 27px;
      width: 46px;
      left: 0;
      bottom: 0;
      background-color: #fff;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }

  .yes {
    &:before {
      content: 'Yes';
    }

    color: #afafaf;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    top: 2.5px;
    left: 10px;
    transition: color .4s;
  }

  .no {
    &:before {
      content: 'No';
    }

    color: #fff;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    top: 2.5px;
    right: 10px;
    transition: color .4s;
  }
}
