@import "~bootstrap/scss/bootstrap";
@import "../../variables.scss";

@include media-breakpoint-down(sm) {
  .add-doc-modal {
    .modal-content {
      .modal-header {
        .modal-title {
          @include media-breakpoint-down(sm) {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 400px;
          }
          img {
            width: 63.7px;
            height: 63.7px;
          }
          svg:nth-child(1) {
            display: none;
          }
          svg:nth-child(2) {
            margin-right: 16px;
            g > g > path {
              @include themify($themes) {
                fill: themed("colorPrimary");
              }
            }
          }
        }
        .modal-close {
          @include themify($themes) {
            background: themed("colorPrimary");
          }
          &:hover {
            background: white;
            svg g {
              @include themify($themes) {
                stroke: themed("colorPrimary");
              }
            }
          }
          .lg {
            display: none;
          }
        }
      }
      .modal-body {
        .document-type-container {
          margin-top: 39.5px;
          .type-section {
            //margin: 0 130px;
            //height: 388px;
            .type-prompt {
              color: #3b3b3b;
              font-size: 25px;
              margin-top: 8px;
              margin-bottom: 16px;
              text-align: center;
            }
            .select-md {
              display: none;
            }
            .document-type-selected {
              .other-prompt {
                color: #3b3b3b;
                font-size: 25px;
                margin-bottom: 16px;
                text-align: center;
              }
              .form-control {
                font-size: 18px;
              }
            }
          }
        }
      }
      .modal-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .add-doc-modal {
    .modal-content {
      .modal-header {
        .modal-title {
          img {
            width: 63.7px;
            height: 63.7px;
            margin-left: 6px;
            margin-right: 28.3px;
            border-radius: 50%;
          }
          span {
            font-size: 24px;
          }
          svg:nth-child(1) {
            margin-left: 10.6px;
            margin-right: 30.9px;
            g > g > path {
              @include themify($themes) {
                fill: themed("colorPrimary");
              }
            }
          }

          svg:nth-child(2) {
            display: none;
          }
        }
        .modal-close {
          @include themify($themes) {
            background: themed("colorPrimary");
          }
          &:hover {
            background: white;
            svg g {
              @include themify($themes) {
                stroke: themed("colorPrimary");
              }
            }
          }
          .sm {
            display: none;
          }
        }
      }
      .modal-body {
        .document-type-container {
          .type-section {
            margin: 0 40px;
            height: 388px;
            .type-prompt {
              color: #3b3b3b;
              font-size: 37px;
              margin-top: 41px;
              margin-bottom: 16px;
            }
            .select-sm {
              display: none;
            }
            .document-type-selected {
              .other-prompt {
                color: #3b3b3b;
                font-size: 37px;
                margin-bottom: 16px;
              }
            }
          }
        }
      }
      .modal-footer {
        padding: 18px;
        .margin-wide {
          margin: 11px !important;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .add-doc-modal .modal-content .modal-body .document-type-container .type-section {
    margin: 0 130px;
  }
}

.expiration-date-section {
  display: flex;
  flex-direction: row;
  margin-top: 96px;
  justify-content: space-evenly;
  .image-container {
    width: 35%;
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      width: -moz-available; /* WebKit-based browsers will ignore this. */
      width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
      width: fill-available;
      object-fit: contain;
    }
  }
  .expiration-date-container {
    width: 55%;
    display: flex;
    flex-direction: column;
    .expiration-toggle {
      display: flex;
      flex-direction: column;
      align-items: center;
      .prompt {
        font-size: 25px;
        color: #484848;
        text-align: center;
        margin-bottom: 28px;
      }
    }
    .date-picker {
      margin: 40px 0 14px 0;
      display: flex;
      flex-direction: column;
      // align-items: flex-start;
      .label {
        font-size: 20px;
        font-weight: 500;
        color: #747474;
      }
    }
  }
}

.notarize-confirm {
  margin-top: -34.5px;
  .notarize-prompt {
    font-size: 20px;
    font-weight: 500;
    color: #4ba9d9;
    text-align: center;
    padding: 15px 25px;
    background-color: #eef5f6;
    border-radius: 34px;
  }
  .confirm-item {
    display: flex;
    .confirm-label {
      margin-left: 15.5px;
      font-size: 22px;
      line-height: 1.23;
      color: #707070;
    }
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  .digital-sig {
    font-family: 'Caveat';
    font-size: 45px;
    color: #707070;
    text-align: center;
    background-color: white;
    border: solid 1px #707070;
    border-radius: 15px;
    margin-top: 20px;
  }
  .continue-exerpt {
    font-size: 18px;
    color: #707070;
    text-align: center;
    margin-top: 7px;
  }
}

.notarize-section {
  .notarize-prompt {
    font-size: 25px;
    font-weight: 500;
    color: #4ba9d9;
    text-align: center;
    padding: 10px 20px;
    background-color: #eef5f6;
    border-radius: 34px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  margin-top: -34.5px;
  .add-non-notarize-btn {
    font-size: 20px;
    width: 212px;
    height: 44px;
    border-radius: 11px;
    padding: 0;
    margin: 20px 0;
  }
  .image-container {
    width: 31%;
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      width: -moz-available; /* WebKit-based browsers will ignore this. */
      width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
      width: fill-available;
      object-fit: contain;
    }
  }
  .notary-container {
    // width: 55%;
    display: flex;
    flex-direction: column;
    .notary-form {
      margin-top: 20px;
      .notary-info {
        font-size: 20px;
        font-weight: 500;
        color: #747474;
      }
      .form-line {
        .input-section {
          label {
            font-size: 20px;
            font-weight: 500;
            color: #747474;
            opacity: 0.71;
          }
        }
      }
    }
    .notary-toggle {
      display: flex;
      flex-direction: column;
      align-items: center;
      .prompt {
        font-size: 25px;
        color: #484848;
        text-align: center;
        margin-bottom: 28px;
      }
    }
  }
}

.notarized-section {
  .pdf-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    .pdf-container {
      width: fit-content;
    }
  }
}
