
.type-section {
  margin: 0 130px;
  //height: 456px;
  height: 388px;
}

.type-prompt {
  color: #3b3b3b;
  font-size: 37px;
  margin-top: 41px;
  margin-bottom: 16px;
}

.other-prompt {
  color: #3b3b3b;
  font-size: 37px;
  //margin-top: 41px;
  margin-bottom: 16px;
}

.margin-wide {
  margin: 11px !important;
}
