@import "../../variables";

.add-doc-container {
  // img {
  //   width: 80.5%;
  //   height: 100%;
  //   display: block;
  //   margin: auto;
  // }
  svg {
    width: 160.621px;
    height: 203.964px;
  }
  div {
    margin-top: 44px;
  }
}
