@import '../../variables';

.document-header {
  display: flex;
  justify-content: space-between;
}

.document-toolbar {
  display: flex;
  justify-content: space-between;
  width: 136px;
}

.document-tabs {
  display: flex;
}

.document-tab {
  font-size: 35px;
  font-weight: bold;
  width: max-content;
  margin-right: 30px;
  @include themify($themes) {
    color: themed('colorDisabled');
  }
}

.tab-active {
  @include themify($themes) {
    color: themed('colorPrimary');
    border-bottom: 4px solid themed('colorPrimary');
  }
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 27px;
  color: $subtitle-color;
}

.sort-section {
  display: flex;
}

.subtitle-key {
  margin-left: 11px;
  margin-right: 8.5px;
  cursor: pointer;
  @include themify($themes) {
    color: themed('colorDisabled');
  }
}
