@import '~bootstrap/scss/bootstrap';
@import '../../variables';

.document-summary-container {
  @include media-breakpoint-down(sm) {
    padding: 0  !important;
    margin: 0 51px;
    .document-item {
      min-height: 255px;
      padding: 19px 0;
    }
    .title {
      font-size: 16px;
      line-height: 1.19;
    }
    .subtitle {
      font-size: 15px;
      line-height: 1.27;
    }
  }
  @include media-breakpoint-up(sm) {padding: 24px;}
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  .document-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover {
      background: $hover-color;
      cursor: pointer;
    }
    .title {
      line-height: 30px;
    }
    .subtitle {
      margin-top: 0;
    }
    .no-shares {
      height: 92px;
    }
  }
}
