@import '../../variables';

.document-summary-container {
  text-align: center;
  padding: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
  .document-item {
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover {
      background: $hover-color;
      cursor: pointer;
    }
    .title {
      line-height: 30px;
    }
    .subtitle {
      margin-top: 0;
    }
    .no-shares {
      height: 92px;
    }
  }
}

//.separator {
//  display: inline-block;
//  width: 1px;
//  height: 60px;
//  background-color: #ccc;
//}
//
//.document-idx {
//  display: inline-block;
//  width: 60px;
//  height: 60px;
//  background: url(../../../img/folder.png) no-repeat;
//  background-size: 60px 60px;
//  position: relative;
//  bottom: 26px;
//  font-size: 28px;
//  color: white;
//  text-align: center;
//  vertical-align: middle;
//  line-height: 60px;
//  margin-left: 24px;
//}
