@import '~bootstrap/scss/bootstrap';
@import '../../variables';

@include media-breakpoint-down(sm) {
  .share-container {
    margin: 0;
    flex-direction: column-reverse;
    .right-panel {
      margin-top: 10px;
      .contact-list {
        .title {
          margin-left: 8px;
        }
        .subtitle {
          margin-left: 8px;
          margin-top: 8px;
          margin-bottom: 15px;
          font-size: 15px;
        }
        .contact-grid { display: none; }
        .contact-grid-sm {
          .react-multi-carousel-list {
            .contact {
              margin: 0 auto;
              width: 137.4px;
              height: 140px;
              //border: solid 1px #cecece;
              border-radius: 14px;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              align-items: center;
              cursor: pointer;
              &.active {
                background: #ececec;
              }
              .contact-image {
                width: 86px;
                height: 86px;
                border-radius: 50%;
              }
              .contact-name {
                font-size: 16px;
                color: #484848;
              }
            }
            button {
              // https://css-tricks.com/forums/topic/safari-for-ios-z-index-ordering-bug-while-scrolling-a-page-with-a-fixed-element/
              -webkit-transform: translate3d(0,0,0);
              &.react-multiple-carousel__arrow--left { left: 0;}
              &.react-multiple-carousel__arrow--right { right: 0;}
            }
          }
        }
      }
      .share-time-limit {display: none;}
    }
    .contact-details {
      margin-left: 8px;
      margin-top: 20px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      .contact-top {
        display: flex;
        .contact-detail-image {
          height: 122px;
          width: 122px;
          border-top-left-radius: 8px;
        }
        .contact-detail-share-doc-sm {
          display: flex;
          flex-direction: column;
          align-items: center;
          .prompt {
            font-size: 12px;
            font-weight: 500;
            margin: 5px 0 9px 0;
          }
          .share-status {
            text-align: center;
            font-size: 10px;
            opacity: 0.5;
            font-weight: 500;
            color: $dark-blue-grey;
            margin-top: 5px;
          }
        }
      }
      .contact-detail-info {
        padding: 8.5px 9px 0 14px;
        margin-bottom: 10px;
        .info-item {
          margin: 2.5px 0;
          .item-attr {
            font-weight: normal;
          }
        }
      }
      .contact-detail-share-doc {display: none;}
    }
  }
}

@include media-breakpoint-up(sm) {
  .share-container {
    margin: 36px 7.9px 12.2px 31.9px;
    .right-panel {
      .contact-list {
        .subtitle {
          font-size: 13px;
          margin-top: 0;
        }
        .contact-grid { display: flex; }
        .contact-grid-sm { display: none; }
      }
    }
    .contact-details {
      margin-right: 13px;
      background-color: #f8f8f8;
      border-radius: 20px;
      width: 293px;
      height: 569px;
      .contact-detail-image {
        height: 218px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
      .contact-detail-share-doc-sm {display: none;}
      .contact-detail-info {
        padding: 8.5px 18px 12.5px 18px;
        .info-item {
          margin: 6.5px 0;
        }
      }
      .contact-detail-share-doc {
        display: flex;
      }
    }
  }
}

.share-container {
  display: flex;
  .contact-details {
    &.active {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }
    .contact-detail-image {
      object-fit: cover;
    }
    .contact-detail-info {
      background-color: white;
      .info-item {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        .item-attr {
          font-weight: 500;
          color: $dark-blue-grey;
        }
        .item-value {
          color: $greyish-brown-78;
        }
      }
    }
    .contact-detail-share-doc {
      flex-direction: column;
      justify-content: space-evenly;
      height: 196px;
      align-items: center;
      .prompt {
        font-size: 20px;
        font-weight: 500;
        color: #0e232c;
      }
      .share-status {
        text-align: center;
        color: #0e232c;
        opacity: 0.5;
        font-size: 15px;
        font-weight: 500;
        margin: 0 7px;
      }
    }
  }

  .right-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 694px;

    .contact-list {
      flex-grow: 1;

      .title {
        font-size: 20px;
        font-weight: 500;
        color: #484848;
        text-transform: uppercase;
        margin-bottom: -5px;
      }

      .subtitle {
        opacity: 0.5;
        color: #0e232c;
        //font-size: 13px;
        font-weight: 500;
        margin-bottom: 5px;
      }

      .contact-grid {
        margin-top: 6px;
        flex-wrap: wrap;

        .contact {
          width: 160px;
          height: 140px;
          border: solid 1px #cecece;
          border-radius: 14px;
          margin-right: 18px;
          margin-bottom: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          cursor: pointer;
          &.active {
            background: #cecece;
          }
          .contact-image {
            width: 62px;
            height: 62px;
            border-radius: 50%;
          }
          .contact-name {
            font-size: 16px;
            color: #484848;
          }
        }

        .contact:nth-child(4n+0) {
          margin-right: 0;
        }
      }
    }

    .share-time-limit {
      position: relative;
      height: 209px;
      border-radius: 12px;

      .share-time-disabled-overlay {
        background-color: #f2f2f2;
        opacity: 0.68;
        z-index: 2;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 12px;
      }

      .title {
        margin-top: 12px;
        margin-left: 15px;
        font-size: 20px;
        font-weight: 500;
        color: #484848;
        text-transform: uppercase;
      }

      .subtitle {
        margin-left: 15px;
        font-size: 13px;
        font-weight: 500;
        color: #0e232c;
        opacity: 0.5;
      }

      .share-for-container {
        display: flex;
        justify-content: space-around;
        margin-left: 38px;
        margin-top: 27px;

        .share-for-form-group {
          //margin-right: 79px;
          label {
            font-size: 20px;
            font-weight: 500;
            color: #484848;
            opacity: 0.6;
            margin: 0;
          }
        }

        .date-container {
          font-size: 20px;

          .date-indicator {
            font-weight: bold;
            color: #90afe2;
          }

          .date-value {
            color: #484848;
            font-weight: 500;
            opacity: 0.6;
          }

          //.date-container:nth-child(2) {
          //  margin-right: 48px;
          //}
        }
      }
    }
  }
}
