@import '../../variables';

.update-doc-modal-title {
  margin-left: 18px;
}

.update-doc-tab-spacing {
  margin: 30px;
}

.upload-doc-delete-container {
  position: absolute;
  right: 55.9px;
  //top: 9px;
  padding: 8px 34.5px;

  &.active {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    background: $danger;

    .delete-svg {
      g {
        fill: white;
      }
    }
  }
}

.update-doc-container {
  // 49.1 52.3 16
  margin: 29px 33.1px;
  .preview-container {
    display: flex;
    flex-direction: column;
    padding-right: 35px;
    padding-left: 35px;
    //padding-bottom: 15px;
    //align-items: center;
    //justify-content: center;
    margin-top: 18px;
    .preview-img-container {
      display: flex;
      //background: cadetblue;
      .img-tools {
        //background: navajowhite;
        margin-right: 32px;
      }
      .img-container {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        //background: seagreen;
        height: 412px;
        .doc-image {
          max-width: 100%;
          min-width: 250px;
          height: 412px;
          object-fit: contain;
        }
      }
      .img-access {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        //background: olivedrab;
        margin-left: 32px;
        svg {
          margin: 6px 0;
          cursor: pointer;
        }
      }
    }
    .preview-info {
      margin-top: 27.5px;
      //background: peru;
      .preview-info-item {
        display: flex;
        justify-content: space-between;
        background-image: linear-gradient(to right, #9a9a9a 50%, rgba(255,255,255,0) 0%);
        background-position: bottom;
        background-size: 16px 1px;
        background-repeat: repeat-x;
        font-size: 30px;
        .attr {
          //background: chocolate;
        }
        .attr-value {
          color: #919191;
          //background: indianred;
        }
      }
    }
  }
}

.confirm-delete-container {
  background-color: #f6f6f6;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: 0 40px;
  padding: 44px 34px 31px 44px;

  .delete-prompt {
    margin-bottom: 67px;
    font-size: 30px;
    font-weight: bold;
    color: #484848;
    text-align: center;
    opacity: 0.5;
  }

  .delete-section {
    display: flex;
    height: 352px;

    .delete-image-container {
      display: flex;
      align-items: center;
      //background: blue;

      .delete-image {
        width: 375px;
        object-fit: contain;
      }
    }
  }

  .delete-info {
    //background: orange;
    margin-left: 25px;
    color: #484848;

    .delete-info-prompt {
      font-size: 25px;

      .delete-info-danger {
        color: #d95868;
      }
    }

    .form-group {
      margin-top: 55px;
      margin-right: 39.8px;

      .other-prompt {
        font-size: 25px;
        font-weight: 500;
      }

      span {
        color: #d95868;
        font-size: 15px;
      }
    }
  }
}

.delete-buttons {
  //background: cadetblue;
  display: flex;
  justify-content: flex-end;
}

.update-doc-modal .modal-content {
  background-color: white !important;
}
