.update-doc-modal-title {
  margin-left: 18px;
}

.update-doc-tab-spacing {
  margin: 30px;
}

.upload-doc-delete-container {
  position: absolute;
  right: 87.3px;
}

.update-doc-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}

.update-doc-container {
  // 49.1 52.3 16
  margin: 29px 33.1px;
}

.confirm-delete-container {
  background-color: #f6f6f6;
}

.update-doc-modal .modal-content {
  background-color: white !important;
}
