//@use '~@material/menu';
//@use '~@material/button/mdc-button';
//@use '~@material/button';
//@use '~@material/base';
//////@import 'dropzone.scss';
//@import '~@material/menu/mdc-menu';
@import './components/variables';
@import 'fonts';
@import '~react-image-lightbox/style.css';
@import '~bootstrap/scss/bootstrap';
@import '~react-multi-carousel/lib/styles.css';

html { height:100%; }

body {
  position:absolute; top:0; bottom:0; right:0; left:0;
  background-color: $background-color;
  font-family: Montserrat, Arial, sans-serif;
  //padding: 15px;
  display: flex;
  width: 100vw;
}

#root {
  display: flex;
  width: 100%;
}

.error {
  color: red;
}

.shared-with-image-single {
  width: 89px;
  height: 89px;
  object-fit: contain;
  border-radius: 50%;
  display: inline-block;
}

.padding-right-24 {
  padding-right: 24px;
}

.breadcrumb-link {
  color: #007bff;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.title {
  color: $grey;
  font-size: 25px;
  font-weight: bold;
}

.padding-top-12 {
  padding-top: 12px;
}

.padding-top-44 {
  padding-top: 44px;
}

.padding-bottom-12 {
  padding-bottom: 12px;
}
// bootstrap row

@media (max-width: 575.98px) {
  .row {
    margin: 0;
  }
}

// bootstrap button

.btn {
  font-size: 30px;
  font-weight: 500;
  border-radius: 17px;
  //height: 44px;
  height: 59px;
  min-width: 209px;
  border-width: 3px;
  padding: 4px 10px;
}

.btn-primary {
  background-color: #2362c7;
  border-color: #2362c7;
  @include themify($themes) {
    background-color: themed('colorPrimary');
    border-color: themed('colorPrimary');
  }
}

.btn-danger {
  background-color: $danger;
  border-color: $danger;
}

// end bootstrap button

// bootstrap modal

.modal-dialog {
  @include  media-breakpoint-down(sm) {
    margin: 19px 21.5px 24px 21.5px;
  }
  .modal-content {
    padding: 0;
    background-color: #f6f6f6;
    @include media-breakpoint-down(sm) {
      border-radius: 32px;
    }
    border-radius: 17px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    .modal-header {
      @include themify($themes) {
        background: themed('colorPrimary') !important;
      }
      @include media-breakpoint-up(sm) {
        padding: 19px 44px 19px 44px;
      }
      @include media-breakpoint-down(sm) {
        padding: 11.3px 30.3px;
        border-top-left-radius: calc(32px - 1px);
        border-top-right-radius: calc(32px - 1px);
      }
      border-top-left-radius: calc(17px - 1px);
      border-top-right-radius: calc(17px - 1px);
      .modal-title {
        font-size: 18px;
        color: #f8f8f8;
        font-weight: 500;
        span {
          vertical-align: text-top;
        }
        @include media-breakpoint-up(md) {
          font-size: 24px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 35px;
        }
      }
    }
    .modal-body {
      @include media-breakpoint-down(sm) {
        margin-bottom: 32px;
      }
    }
  }
}

.modal-close {
  @include media-breakpoint-up(md) {
    padding: 13px;
  }
  cursor: pointer;
  background: $blue;
  border-radius: 50%;
  &:hover {
    background: white;
    svg g {
      stroke: $blue;
    }
  }
}

.modal-footer {
  @include media-breakpoint-down(sm) {
    margin-top: -32px;
    padding-top: 0;
  }
  border-top: 0;
  padding: 42px;
}

// end bootstrap modal

// bootstrap form control

.form-control {
  @include media-breakpoint-down(sm) {
    font-size: 18px;
  }
  font-size: 25px;
  //color: blue;
  color: #3b3b3b;
  padding: 12.4px 29.5px 12.4px 29.5px;
  &::placeholder {
    color: #818181;
    opacity: 0.31;
  }
}

// end bootstrap form control

// bootstrap tabs

.nav-tabs {
  border-bottom: 0 solid transparent;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  .nav-item {
    width: calc(100%/3);
  }
  @include media-breakpoint-up(md) {
    font-size: 20px;
    .nav-item {
      width: inherit;
    }
  }
}

.nav-tabs.xs {
  font-size: 15px;
}

.nav-tabs.small {
  display: flex;
  font-size: 21px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 10px 9px 0 9px;
  @include media-breakpoint-up(md) {display: none;}
  .nav-item {
    width: 50%;
    .nav-link {
      padding: 0;
      margin: 0 0 6.5px 0;
      color: #90afe2;
    }
    .nav-link.active {
      color: $blue;
    }
  }
}

.nav-tabs.large {
  display: none;
  font-size: 25px;
  @include media-breakpoint-up(sm) {
    display: flex;
  }
  @include media-breakpoint-up(lg) {font-size: 35px;}
  font-weight: bold;
  text-transform: none;
  .nav-link {
    padding: 0;
    margin-right: 30px;
    color: #90afe2;
    opacity: 1;
  }
  .nav-link.active {
   color: $blue;
  }
}

.nav-tabs .nav-link {
  border: 0 solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin-bottom: 7px;
  text-align: center;
  opacity: 0.7;
  cursor: pointer;
  @include media-breakpoint-up(md) { min-width: 187px; }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: inherit;
  border-color: transparent;
  border-bottom: 4px solid $blue;
  opacity: 1;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: transparent;
}

.nav-link.active:hover, .nav-link.active:focus {
  border-color: $blue;
}

// end bootstrap tabs

.pointer {
  cursor: pointer;
}

.ReactModal__Overlay {
  z-index: 1060 !important;
}
