//@use '~@material/menu';
//@use '~@material/button/mdc-button';
//@use '~@material/button';
//@use '~@material/base';
//////@import 'dropzone.scss';
//@import '~@material/menu/mdc-menu';
@import './components/variables';
@import 'fonts';

html { height:100%; }

body {
  position:absolute; top:0; bottom:0; right:0; left:0;
  background-color: $background-color;
  font-family: Montserrat, Arial, sans-serif;
  //padding: 15px;
  display: flex;
  width: 100vw;
}

#root {
  display: flex;
  width: 100%;
}

.btn {
  border-radius: 17px;
  //height: 44px;
}

.btn-primary {
  @include themify($themes) {
    background-color: themed('colorPrimary');
    border-color: themed('colorPrimary');
  }
}

.error {
  color: red;
}

.shared-with-image-single {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 50%;
  display: inline-block;
}

.padding-right-24 {
  padding-right: 24px;
}

.breadcrumb-link {
  color: #007bff;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.title {
  color: $grey;
  font-size: 25px;
  font-weight: bold;
}

.padding-top-12 {
  padding-top: 12px;
}

.padding-top-44 {
  padding-top: 44px;
}

.padding-bottom-12 {
  padding-bottom: 12px;
}

.document-add-new {
  text-align: center;
  padding: 24px;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}
