//@use '~@material/menu';
//@use '~@material/button/mdc-button';
//@use '~@material/button';
//@use '~@material/base';
//////@import 'dropzone.scss';
//@import '~@material/menu/mdc-menu';
@import './components/variables';
@import 'fonts';

html { height:100%; }

body {
  position:absolute; top:0; bottom:0; right:0; left:0;
  background-color: $background-color;
  font-family: Montserrat, Arial, sans-serif;
  //padding: 15px;
  display: flex;
  width: 100vw;
}

#root {
  display: flex;
  width: 100%;
}

.error {
  color: red;
}

.shared-with-image-single {
  width: 89px;
  height: 89px;
  object-fit: contain;
  border-radius: 50%;
  display: inline-block;
}

.padding-right-24 {
  padding-right: 24px;
}

.breadcrumb-link {
  color: #007bff;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.title {
  color: $grey;
  font-size: 25px;
  font-weight: bold;
}

.padding-top-12 {
  padding-top: 12px;
}

.padding-top-44 {
  padding-top: 44px;
}

.padding-bottom-12 {
  padding-bottom: 12px;
}

.document-add-new {
  text-align: center;
  padding: 24px;
}

// bootstrap button

.btn {
  font-size: 30px;
  font-weight: 500;
  border-radius: 17px;
  //height: 44px;
  height: 59px;
  min-width: 209px;
  border-width: 3px;
  padding: 4px 10px;
}

.btn-primary {
  background-color: #2362c7;
  border-color: #2362c7;
  @include themify($themes) {
    background-color: themed('colorPrimary');
    border-color: themed('colorPrimary');
  }
}

.btn-danger {
  background-color: $danger;
  border-color: $danger;
}

// end bootstrap button

// bootstrap modal

.modal-dialog {
  .modal-content {
    padding: 0;
    background-color: #f6f6f6;
    border-radius: 17px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); //32.6 54.6
    .modal-header {
      background: $blue;
      padding: 19px 44px 19px 44px;
      border-top-left-radius: calc(17px - 1px);
      border-top-right-radius: calc(17px - 1px);
      .modal-title {
        font-size: 35px;
        color: #f8f8f8;
        font-weight: 500;
      }
    }
  }
}

.modal-close {
  cursor: pointer;
  padding: 13px;
  background: $blue;
  border-radius: 50%;
}

.modal-close:hover {
  background: white;
  svg g {
    stroke: $blue;
  }
}

.modal-footer {
  border-top: 0;
  padding: 42px;
}

// end bootstrap modal

// bootstrap form control

.form-control {
  font-size: 25px;
  //color: blue;
  color: #3b3b3b;
  padding: 12.4px 29.5px 12.4px 29.5px;
  &::placeholder {
    color: #818181;
    opacity: 0.31;
  }
}

// end bootstrap form control

// bootstrap tabs

.nav-tabs .nav-link {
  border: 0 solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-size: 20px;
  font-weight: 500;
  width: 187px;
  text-transform: uppercase;
  text-align: center;
}

.nav-tabs {
  //border-bottom: 1px solid #dee2e6;
  border-bottom: 0 solid transparent;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: inherit;
  border-color: transparent;
  border-bottom: 4px solid $blue;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  //border-color: #e9ecef #e9ecef #dee2e6;
  border-color: transparent;
}

.nav-link.active:hover, .nav-link.active:focus {
  border-color: $blue;
}

.tab-content {
  margin-top: 24.1px;
}

// end bootstrap tabs


.dropzone {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  height: 479.4px;
  flex-direction: column;
  //align-items: center;
  padding: 22px 30px;
  //border-width: 2px;
  //border-radius: 2px;
  //border-color: #707070;
  //border-style: dashed;

  //background-image: linear-gradient(#a8a8a8 40%, rgba(255,255,255,0) 0%);
  //background-position: right;
  //background-size: 25px 2px;
  //background-repeat: repeat-y;

  background-color: #f6f6f6;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
  p {
    font-size: 25px;
  }
}

.dropzone-container {
  display: flex;
  justify-content: center;
  margin-top: 41px;
}

.dropzone-bottom {
  background-image: linear-gradient(to right, #a8a8a8 40%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 25px 2px;
  background-repeat: repeat-x;
}

.dropzone-left {
  background-image: linear-gradient(#a8a8a8 40%, rgba(255,255,255,0) 0%);
  background-position: left;
  background-size: 2px 25px;
  background-repeat: repeat-y;
}


